body{
    background-color: #f5f5f5;
}
@media screen and (max-width:1024px) {
    body{
        background-color: whitesmoke;
    }  
}
@media screen and (max-width:600px) {
    body {
        background-color: whitesmoke;
    }
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color:#f5f5f5;
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    overflow: hidden;
    padding-top: 10px;
}
@media screen and (max-width:1024px) {
    .header{
        display: inline-block;
    }
}
@media screen and (max-width:600px) {
    .header{
        display: inline-block;
    }
}
.logo h1{
    color: darkslategrey;
    margin-right: 270px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.top a{
    color: darkslategray;
    margin-right: 30px;
    text-decoration: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fax {
    padding: 5px 10px;
    background-color: whitesmoke;
    border-radius: 4px;
}
.top a:hover{
    border-bottom: 4px solid green;
    border-radius: 4px;
}
.contact a{
    color: white;
    background-color: darkslategray;
    border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width:1024px) {
    .contact{
        display: inline-block;
    }
}
@media screen and (max-width:600px) {
    .contact{
        display: none;
    }
}

.contact a:hover{
    background-color: green;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    animation-name: back;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    position: relative;
    margin-top: 0px;

}
@keyframes back {
    0%{background-image: url(unsplash2.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
    25%{background-image: url(unsplash2.jpg); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;}
    50%{background-image: url(unsplash1.jpg); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;}
    75%{background-image: url(unsplash1.jpg); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;}
    100%{background-image: url(photo23.avif); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;}
}
@media screen and (max-width:1024px) {
    .background{
        display: inline-block;
    }
}
@media screen and (max-width:600px) {
    .background{
        display: inline-block;
    }
}
.word1{
    text-align: center;
    color: white;
    padding-top: 70px;
}
@media screen and (max-width:1024px) {
    .word1{
        display: inline-block;
    }
}
@media screen and (max-width:600px) {
    .word1{
        display: inline-block;
    }
}
.word1 h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}
.word1 h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding: 10px;
}
.word1 p{
    color: darkslategray;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.word1 button{
    padding: 10px 20px;
    background-color: darkslategray;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 10px;
}
.word1 button:hover{
    background-color: green;
}
#services{
    display: flex;
    margin-left: 225px;
    margin-top: -50px;
    position: relative;
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    #services{
        display: inline-block;
    }
    #services img{
        display: inline-block;
    }
}
@media screen and (max-width:700px) {
    #services{
        display: inline-block;
    }
    #services img{
        display: none;
    }
}
#services  img{
    border: 15px solid #f5f5f5;
}
.Word2 h2{
    text-align: center;
    font-family: sans-serif;
}
.Word2 h2 span{
    border-bottom: 3px solid darkslategray;
    border-radius: 8px;
}
.Word2 p{
    display: inline-block;
    text-align: center;
    font: 15px;
    color: #454545;
    padding-top: 10px;
    padding-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Word2 a{
    text-decoration: darkslategray;
    color: green;
    font-family: sans-serif;
}
.Word2 a:hover{
    color: blue;
}
#about1{
    margin-top: 150px;
    display: inline-block;
    padding-left: 35px;
}
@media screen and (max-width:1024px) {
    #about1{
        display: inline-block;
    }
}
@media screen and (max-width:600px) {
    #about1{
        display: inline-block;
    }
    #about1 img {
        display: none;
    }
}
#about1 h2{
    text-align: center;
    font-family: sans-serif;
}
#about1 h2 span{
    border-bottom: 3px solid darkslategray;
    border-radius: 8px;
}
.about3{
    display: flex;
    /* margin-top: 130px; */
}
.p1 p{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #454545;
    padding: 10px;
    text-transform: uppercase;

}
#team11{
    margin-top: 250px;
    width: 100%;
}
@media screen and (max-width:1024px) {
    #team11{
        display: inline-block;
    }
    .overlay img{
        display: inline-block;
    }
}
@media screen and (max-width:700px) {
    #team11{
        display: inline-block;
    }
    .overlay img{
        display: block;
    }
}
#team11 h2{
    text-align: center;
    font-family: sans-serif;
}
#team11 h2 span{
    border-bottom: 3px solid darkslategray;
    border-radius: 8px;
}
.team1{
    display: flex;
    justify-content: space-around;
}
.overlay{
    position: relative;
}
.overlay img{
    border-radius: 30%;
    display: block;
}
.nft{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: 3s;
    background-color: darkslategray;
    border-radius: 30%;
}
.nft p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.nft a{
    margin-left: 30px;
    text-decoration: none;
}
.a{
    background-color: blue;
}
.b{
    background-color: purple;
}
.overlay:hover .nft{
    opacity: 1;
}
.fa{
    padding: 10px;
    color: black;
    background-color: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lastpage{
    width: 100%;
    height: 40vh;
    animation-name: taiwo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    margin-top: 360px;
}
@keyframes taiwo{
    0%{background-image: url(unsplash2.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: scroll;}
    25%{background-image: url(unsplash2.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: scroll;}
    50%{background-image: url(unsplash1.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: scroll;}
    75%{background-image: url(unsplash1.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: scroll;}
    100%{background-image: url(unsplash2.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: scroll;}
}
#word22{
    margin-top: 10px;
    padding:10px;
}
#word22 a{
    text-decoration: none;
    display: inline-block;
    color: darkslategray;
    border-radius: 10px;
    background-color: whitesmoke;
}
#word22 p{
    display: block;
    color: white;
    padding-bottom: 5px;
}
#word22 h4{
    display: inline;
    color: white;
    padding-top: 5px;
}
/* .inner{ */
    width: 80%;
    height: 80vh;
    top: 80%;
    left: 80%;
    background-color: white;
    /* position: absolute; */
    transform: translate(-80% -80%);
    /* z-index: 1; */
}

/* .team1{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.team1 h2{
    text-align: center;
    font-family: sans-serif;
}
.team1 h2 span{
    border-bottom: 3px solid darkslategray;
    border-radius: 8px;
}
.team12{
    position: relative;
}
img{
    display: block;
    border-radius: 10%;
}
.team23{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 3s;
    background-color: darkslategray;
    border-radius: 30%;
    opacity: 0;
}
.a{
    background-color: blue;
}
.b{
    background-color: darkgray;
}
.team12:hover .team23{
    opacity: 1;
}
.fa{
    color: blue;
    background-color: aliceblue;
    padding: 10px;
}

 */
